
.dialog{


    border: none;
    border-radius: 5px;
    box-shadow: var(--global-box-shadow);
}

.dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}


.close{
    position: absolute;
    top: 5px;
    right:5px;
    z-index: 1;
    background-color: var(--primary-color);
    color: white;
}